{% extends '../base.html' %}


{% block content %}
    {% if ideas %}

        {% for idea in ideas %}
                <div class="card card-body mb-2">
                    <h4>{{idea.title}}</h4>
                    <p>{{idea.details}}</p>
                    <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{idea.id}}">Edit</a>
                    <form method="post" action="/ideas/{{idea.id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                    </form>
                 </div>
        {% endfor %}

        {% else %}
        <p>No video ideas listed</p>
      {% endif %}

{% endblock %}

